*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right bottom, #8ebe8f, #1e6fc6); 
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 88%;
    margin: 0 auto;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    height: 90vh;
    background: url(weather\ image.png);
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.main-container::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to botttom,rgba(36, 36, 75, 0),rgba(0,0,0,.6));
    z-index: 0;
}

.top{
    text-align: center;
    z-index: 999;
}

.top h1{
    color: white;
    font-size: 40px;
    line-height: 2;
}

.top input, .top button{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 5px;
    outline: none;
    border: none;
}

.top input{
    background-color: rgba(224, 216, 216, 0.459);
    border-bottom: solid 2px rgb(138, 92, 147);
    border-radius: 5px 3px 5px 2px;
    text-align: center;
    font-size: 14px;
    color: white;
}

.top input:focus{
    color: black;
    text-size-adjust:adjust;
    font-size: 15px;
}

.top input::placeholder {
    font-style:oblique;
    color: rgba(255,255,255.5);
}

.top button{
    background-color: #db0007;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s;
}

.top button:hover {
    background-color: #b05102;
}

.top .error {
    color: white;
    font-size: 14px;
}

.icon {
    text-align: center;
    padding-top: 15px;
}

.location {
    padding-bottom: 15px;
    text-align: center;
    color: white;
    line-height: 1.6;
}

.location .city {
    font-size: 20px;
    font-weight: bold;
}

.current{
    width: 100%;
    position: relative;
    padding-top: 10px;
    color: white;
    text-align: left;
}

.current::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
}

.current > * {
    padding-bottom: 10px;
}

.footer{
    color: white;
    position:absolute;
    bottom: 20px;
    left: 100px;
    text-align: center;
}